@tailwind base;
@tailwind components;
@tailwind utilities;

.threeDots {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: initial !important;
  top: 5px !important;
}
.swiper-scrollbar-drag {
  background-color: chartreuse !important;
}